<div class="menu">
  <div class="menu-head">
    <div class="admin-profile">
      <div class="profile-image">
        <mat-icon>admin_panel_settings</mat-icon>
      </div>
      <div class="profile-info">
        <h3>Admin Panel</h3>
        <span class="role">Administrator</span>
      </div>
    </div>
  </div>
  <div class="menu-item">
    <button mat-button class="menu-button text-white" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>

    <button mat-button class="menu-button text-white" routerLink="/staff">
      <mat-icon>people</mat-icon>
      <span>Staff</span>
    </button>

    <button mat-button class="menu-button text-white" routerLink="/stock">
      <mat-icon>show_chart</mat-icon>
      <span>Stock</span>
    </button>

    <button mat-button class="menu-button text-white" routerLink="/report">
      <mat-icon>report</mat-icon>
      <span>Report and Analytics</span>
    </button>

    <button mat-button class="menu-button text-white" routerLink="/billing">
      <mat-icon>receipt_long</mat-icon>
      <span>Billing</span>
    </button>

    <!-- Angular Material Dropdown -->
    <button
      mat-button
      class="menu-button text-white"
      [matMenuTriggerFor]="vendorMenu"
    >
      <!-- <mat-icon>people</mat-icon> -->
      <span>Select</span>
      <mat-icon>arrow_drop_down</mat-icon>
    </button>
    <mat-menu #vendorMenu="matMenu">
      <button mat-menu-item class="drop" routerLink="/add-vendor">
        <mat-icon class="drop">people</mat-icon>
        <span class="drop">Vendor</span>
      </button>
      <button class="drop" mat-menu-item routerLink="/supplier">
        <mat-icon class="drop">people</mat-icon>
        <span class="drop">Supplier</span>
      </button>
    </mat-menu>

    <!-- <button mat-button class="menu-button text-white" routerLink="/add-vendor">
      <mat-icon>people</mat-icon>
      <span>Vendor</span>
    </button> -->

    <button mat-button class="menu-button text-white" routerLink="/setting">
      <mat-icon>settings</mat-icon>
      <span>Setting</span>
    </button>

    <!-- <button mat-button class="menu-button text-white" (click)="logout()">
      <mat-icon>settings</mat-icon>
      <span>Logout</span>
    </button> -->
  </div>
</div>
