<div class="invoice-list">
  <h2>All Tax Invoices</h2>
  <table border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Invoice No</th>
        <th>Invoice Date</th>
        <th>Vendor Name</th>
        <th>Consignee Name</th>
        <!-- <th>Grand Total</th> -->
        <th>Due Date</th>
        <th>Transport Mode</th>
        <th>GST No</th>
        <th>Payment Terms</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invoice of invoices">
        <td>{{ invoice.id }}</td>
        <td>{{ invoice.invoice_number }}</td>
        <td>{{ invoice.invoice_date }}</td>
        <td>{{ invoice.vendor_name }}</td>
        <td>{{ invoice.consignee_name }}</td>
        <!-- <td>{{ invoice.grand_total }}</td> -->
        <td>{{ invoice.due_on }}</td>
        <td>{{ invoice.transport_mode }}</td>
        <td>{{ invoice.gst_no }}</td>
        <td>{{ invoice.payment_terms }}</td>
        <td>
          <!-- Pass the current invoice number directly -->
          <button class="btn1" (click)="printInvoice(invoice.invoice_number)">
            <mat-icon>print</mat-icon>
          </button>
          <!-- <button class="btn2" (click)="deleteInvoice(invoice.invoice_number)">
            <mat-icon>delete</mat-icon>
          </button> -->
          <button
            class="btn2"
            (click)="deleteInvoice(invoice.invoice_number)"
            [disabled]="deletingInvoiceId === invoice.invoice_number"
          >
            <ng-container
              *ngIf="
                deletingInvoiceId === invoice.invoice_number;
                else deleteIcon
              "
            >
              <mat-progress-spinner
                diameter="20"
                mode="indeterminate"
                color="warn"
              >
              </mat-progress-spinner>
            </ng-container>
            <ng-template #deleteIcon>
              <mat-icon>delete</mat-icon>
            </ng-template>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
