<div class="container">
  <h2 class="sticky-header">Stock Management</h2>

  <div class="button-container">
    <button (click)="filterProductList('Parent')">Parent Products</button>

    <button (click)="filterProductList('Child')">Child Products</button>

    <button (click)="filterProductList('All')">Show All Data</button>

    <button (click)="showAddStockForm = !showAddStockForm">
      Add New Stock
    </button>

    <button (click)="showUploadForm = !showUploadForm">
      Upload Documents
    </button>
  </div>

  <div *ngIf="showAddStockForm" class="add-stock-form">
    <h3>Add New Stock</h3>

    <input
      type="text"
      name="description"
      placeholder="Name"
      [(ngModel)]="newStock.description"
      required
    />
    <input
      type="text"
      name="supplier"
      placeholder="Supplier Name"
      [(ngModel)]="newStock.supplier"
      required
    />
    <input
      type="number"
      name="price"
      placeholder="Price"
      [(ngModel)]="newStock.price"
      required
    />
    <input
      type="text"
      name="hsn_code"
      placeholder="HSN No"
      [(ngModel)]="newStock.hsn_code"
      required
    />
    <select name="stock_type" [(ngModel)]="newStock.stock_type" required>
      <option value="Parent">Parent</option>
      <option value="Child">Child</option>
    </select>

    <button type="submit">Add Stock</button>
  </div>

  <div *ngIf="showUploadForm" class="upload-form">
    <h3>Upload Documents</h3>
    <p class="upload-info">Maximum file size allowed is 1MB.</p>
    <input type="file" (change)="handleFileUpload($event)" multiple />
    <div *ngIf="uploadErrorMessage" class="error-message">
      {{ uploadErrorMessage }}
    </div>
    <button (click)="uploadSelectedFiles()">Upload</button>
  </div>

  <h3>Selected Products</h3>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>S. No</th>
          <th>Name</th>
          <th>Supplier Name</th>
          <th>Price (₹)</th>
          <th>HSN No</th>
          <th>Stock Type</th>
          <th>Quantity</th>
          <th>Total (₹)</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let product of filteredProductList; let i = index"
          [id]="'product-' + i"
        >
          <td>{{ i + 1 }}</td>
          <td>
            <input
              *ngIf="editingIndex === i"
              type="text"
              [(ngModel)]="product.description"
              class="edit-input"
            />
            <span *ngIf="editingIndex !== i">{{ product.description }}</span>
          </td>
          <td>
            <input
              *ngIf="editingIndex === i"
              type="text"
              [(ngModel)]="product.supplier"
              class="edit-input"
            />
            <span *ngIf="editingIndex !== i">{{ product.supplier }}</span>
          </td>
          <td>
            <input
              *ngIf="editingIndex === i"
              type="number"
              [(ngModel)]="product.price"
              class="edit-input"
            />
            <span *ngIf="editingIndex !== i">₹{{ product.price }}</span>
          </td>
          <td>
            <input
              *ngIf="editingIndex === i"
              type="text"
              [(ngModel)]="product.hsn_code"
              class="edit-input"
            />
            <span *ngIf="editingIndex !== i">{{ product.hsn_code }}</span>
          </td>
          <td>{{ product.stock_type }}</td>
          <td>
            <input
              type="number"
              min="1"
              [(ngModel)]="product.quantity"
              (input)="updateQuantity()"
            />
          </td>
          <td>₹{{ product.total }}</td>
          <td>
            <mat-icon *ngIf="editingIndex !== i" (click)="editProduct(i)">
              edit
            </mat-icon>
            <mat-icon
              class="save-btn"
              *ngIf="editingIndex === i"
              (click)="saveEdit()"
            >
              save
            </mat-icon>
            <mat-icon (click)="removeProduct(i)">delete</mat-icon>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="filteredProductList.length === 0">
      <p>No products found based on the filter.</p>
    </div>
  </div>
</div>